.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Faz o formulário centralizar na tela */
}

form {
    background-color: #2e2c30;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaço entre os inputs */
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button{
        border-radius: 30px;
        background-color:#fe7e5d;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;

    }

    & button:hover {
        opacity: 0.8;
    }

    & input {
        border: 1px solid #d2dae2;
        border-radius:30px;
        height: 40px;
        background-color: black;
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }
}

.card{
    display:flex;
    justify-content: space-between;
    background-color: #2e2c30;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 400px;

    & p{
        color:#d2dae2;
        font-weight: bold;
    }

    & span{
        font-weight: normal;
    }
}



h1 {
    color: #fff;
    text-align: center;
    font-size: 28px;
}

input {
    border-radius: 10px;
    border: 1px solid #d2dae2;
    padding: 12px 20px;
    outline: none;
    width: 300px;
}

button {
    border: none;
    background-color: #fe7e5d;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}